@import url(./common.css);
/* global tag */
a{
    text-decoration: none;
    color: #fff;
}
*{
    -webkit-font-soomthing:antialiased;
    box-sizing: border-box;
}
body{
    font: 16px/28px "Montserrat sans-serif","Raleway snas-serif" ;
    padding: 0; 
    margin: 0;
    
}
button{
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
/* Typograpy */
    h1,h2,h3,h4,h5,h6{
        font-family: "Raleway", sans-serif;
    }


/* container */
.container{
    display: flex;
    justify-content: center;
    max-width: 73.125em;
    margin: auto;
    padding: 1.2rem 1.2rem;
}

/* common */
.btn{
    display: inline-block;
    width: 20%;
    height: auto;
    padding: 0 29px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #998675;
    color: #fff;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 3px 0 #736357;
    text-align: center;
}
.content__title{
    font-size: 1.875rem;
    font-weight: 600;
    color: #555;
}
.content__description{
    font-size: 1rem;
    font-weight: 300;
    color: #8c8c8c;
    width: 65%;
    margin: 1.438rem auto 2.063rem;
}

/* header */

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo__container{
    height: 160px;
}
.logo__container a{
    display: block;
    width: 160px;
    height: 100%;
}
.logo__container a img{
    width:100%;
    height: 100%;
}


.navbar__menu{
    
    display: flex;
    align-items: center;

}
.navbar__menu .navbar__menu__list{
    
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    margin: 0 0.25rem;  
    cursor: pointer;
    text-align: center; 
}

.navbar__toggle__btn{
    
    position: absolute;
    top: 3rem;
    color: #fff;
    font-size: 1.5rem;
    right: 15px;
    width: 50px;
    display: none;
}
.navbar__menu__list.active a{
    color: #c7b299;
}
.navbar__menu .navbar__menu__list:hover a{
    color: #c7b299;
}

.background-container{
    position: relative;
    background: url("../img/mainslide_01.jpg") center/cover no-repeat;
    width: 100%;
    height: 100vh;
}
.bg__contents{
    position:absolute ;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
@keyframes slowIn{
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.background-container .bg__contents *{
    animation: slowIn 0.6s forwards ease-out;
    transform: translateY(20%);
    opacity: 0;
}

.bg__contents .bg__title{
    
    width: 100%;
    font-size: 2rem;
    font-weight:500;
    font-family: "Raleway", sans-serif;
    line-height: 1.1;
    animation-delay: 0.2s;

}

.bg__contents .bg__subtitle{
    width: 100%;
    font-size: 3.25rem;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    line-height: 1.3;
    animation-delay: 0.4s;
    
    
}
.bg__contents .bg__description{
    line-height: 1.5;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 3.063rem;
    animation-delay: 0.6s;
    
}
.bg__contents .btn{
    margin: 1.5rem;
    width: 40%;
    animation-delay: 0.8s;

}

/* Services */
.content{
    width: 100%;
    height: auto;
}

.services.container{
    
    padding: 92px 0 80px;
}

.services .skill{

    width: 100%;
    justify-content: center;
    display: flex;
    
}
.services .skill .skill__list{
    width: 25%;
    text-align: center;
    padding: 0 2rem;
    box-sizing: border-box;

}
.services .skill .skill__list:first-child{
    margin-left: 0;
}
.services .skill .skill__list:last-child{
    margin-right: 0;
}
.skill__list .icon {
    
    font-size: 2rem;
    color: #555555;
    transition: 0.3s ease-out;
}
.skill .skill__title{
    width: 100%;
    font-size: 1.375rem;
    font-weight: 600;
    margin: 1.5rem 0 0.8rem;
    transition: 0.3s ease-out;
}
.skill .skill__desc{
    font-size: 1.2rem;
    font-weight: 300;
    color: #8c8c8c;
    margin-bottom: 1.375rem;
}
.under__bar{
    display: inline-block;
    margin-top: 1.250rem;
    width: 4.375rem;
    height: 3px;
    background-color:#f1eee9;
    transition: 0.3s ease-out;
}
.skill__list:hover .icon ,
.skill__list:hover .skill__title
{
    color: #c7b299;
    transition: 0.3s ease-out;
}
.skill__list:hover .under__bar{
    background-color: #c7b299;
    transition: 0.3s ease;
}

/* realization */
.realization{
    width: 100%;
    height: auto;
    padding-top: 5.25rem;
    text-align: center;
    background-color: #fbfaf8;

}
.realization .container{
    display: block;
    padding: 0;
}
.realization .introduce{
    display: block;
    height: auto;
}

.realization__img{
    width: 100%;
}
.realization__img img{
    width: 100%;
}
/* text box */
.text_boxes{
    padding: 3.125rem 0;
    background:linear-gradient(to right, #211b19, #4e3427);
}
.text_boxes .container{
    justify-content: space-between;
}
.text_boxes .textbox_content{
    color: #fff;
    font-size: 1.750rem;
}
.textbox_content span{
    color: #c7b299;
}
.text_boxes .textbox_content .textbox__description{
    color:#615855;
    font-size: 1.125rem;
    font-weight: 300;
}

/* latest_projects */

.latest_projects{
    width: 100%;
    height: auto;
    padding: 5rem 0;
    text-align: center;
}
.latest_projects.container{
    display: block;
    height: auto;
}

.btn__bar button{
    font-size: 0.875rem;
    width: 7.5rem;
    border:1px solid #ebebeb;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin: 0 3px;
    transition: 0.3s ease;
    color: #8c8c8c;
}
.latest_projects .load__more{
    text-align: center;
    padding-top: 40px;
}
.btn__bar button:hover{
    background-color:#998675 ;
    transition: 0.3s ease;
    color: #fff;
}
.projects__container{
    width: 100%;
    height: auto;
    margin-top: 2.5rem;
}
.projects__container .projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.projects__container .projects .project__wrap{
    position: relative;
    width: 100%;
}


.projects__container .projects .hover__contents{
    position: absolute;
    font-size:1.625rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding-top: 6.625rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    opacity: 0;
    transition: 0.3s ease;
}


.projects__container .projects li{
    margin:0 1.875rem 1.875rem 0;
    width: 370px;
    flex-grow: 1;
}
.project__wrap .hover__contents a {
    color: #fff;
    transition: 0.3s ease;
}
.project__wrap .hover__contents a:hover{
    color: #c7b299;
}
.projects__container .projects li:hover .hover__contents{
    opacity: 0.7;
    transition: 0.3s ease;
}

.projects__container .projects li:hover .project__desc{
    transition: 0.3s ease;
    background-color: #362f2d;
}
.projects__container .projects li:hover .project__desc h4{
    
    color: #fff;
}
.projects__container .projects li:hover .project__desc p{
    color: #c7b299;
}
.projects .project__wrap img{
    width: 100%;
    height: auto;
}
.projects__container .projects li:nth-child(3n){
    margin:0;
}

.projects .project__desc{
    text-align: left;
    background-color: #fbfaf8;
    padding: 2.5rem 2.75rem;
    transition: 0.3s ease;
}
.projects .project__desc h4{
    font-size: 1.250rem;
    font-weight: 600;
    color: #c7b299;
}
.projects .project__desc p{
    color: #d1d1d1;
    font-size: 0.875rem;
}

/*video*/
.video{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url("../img/video_bg.jpg") center center/cover no-repeat;
}
.video .video__contents{
    width: 36.88rem;
    flex-direction: column;
    justify-content: center;
}
.video__contents .icon{
    
    display: inline-block;
    margin: auto;
    color: #fff;
    font-size: 4rem;
    line-height: 6.25rem;
    cursor: pointer;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background-color:rgba(0,0, 0, 0.2);
}

.video__contents .content__title{
    line-height: 1.5;
}
.video__contents .content__title,
.video__contents .content__description{
    color: #fff;
}
.video__contents span{
    color: #c7b299;
}
.video__contents .overlay{
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}
.video__contents .overlay .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.video__contents .overlay .close{
    position: absolute;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    right: -10px;
    top: -1rem;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    
}
/* mobile */
.mobile{
    max-width: 100%;
    height: auto;
    padding-top: 5.25rem;
    text-align: center;
    background-color: #fbfaf8;
}
.mobile .container{
    margin-top: 7.188rem;
    display: flex;
    justify-content: center;
}
.container__devide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile .container .mobile__desc{
    display: inline-block;
    width: 100%;
    height: auto;
}

.mobile .container ul{

    display: inline-block;
    text-align: left;
    
    width: 100%;
    
}
.mobile .container ul li{
    font-size: 1rem;
    font-weight: 300;
    color: #8c8c8c;
    margin-bottom: 0.4375rem;
}
.mobile .container ul li span{
    color:#c7b299;
}
.mobile .container ul li p{
    display: inline-block;
}

.mobile .container .content__title, .mobile .container .content__description{
    text-align: left;
    width: 100%;
}
/* counters */
.counters{
    text-align: center;
    background:linear-gradient(to right, #211b19, #4e3427);
    padding: 4rem 0;
    height: auto;
}
.counters ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counters ul li{
    margin-right: 10px;
    width: 250px;
}
.counters ul li:last-child{
    margin-right: 0;
}
.counters ul li span{
    display: block;
    color:#c7b299;
    font-size: 2rem;
    margin-bottom: 15px;
}
.counters ul li h1{
    font-size: 2.2rem;
    font-weight: 300;
    color: #fff;
    font-family:"Montserrat", sans-serif;
    margin-bottom: 5px;
}
.counters ul li p{
    color: #c7b299;
    font-size: 0.8rem;
    margin-bottom: 5px;
}
.counters ul li .under__bar{
    margin: auto;
    color: #c7b299;
    width: 30px;
}
/* Recent_post */

/* patners */
.patners{
    background: url("../img/partners_bg.jpg") center center/cover no-repeat;
    height: 489px;
    padding-top: 142px;
}
.patners ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.patners ul li{
    width: 20%;
    align-self: center;
    
}
.patners ul a{
    display: block;
    width: 100%;
    height: auto;
    
}
.patners ul a img{
    width: 100%;
}
.patners ul li:last-child{
    margin-right: 0;
}
/* footer */
.footer__top{
    background-color: #191919;
    padding: 80px 0;
}

.footer__top ul li p{
    line-height: 20px;
    word-break: break-all;
}
.footer__top .footer__list li{
    border-bottom: 1px solid #252525;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer__top .footer__list li:last-child{
    border-bottom: 0;
}
.footer__top .footer__list li:hover .post__date{
    color: #c7b299;
}
.footer__top .footer__list li:hover p{
    color: #fff;
}
.footer__list p{
    color: #d1d1d1;
}
.footer__list .github__id{
    color: #00bff3;
}
.footer__top .instagram {
    display: flex;
    flex-wrap: wrap;
}
.footer__top .instagram li{
    width: 130px;
    margin: 0 10px 0 0;
}
.footer__top .instagram li:nth-child(2n){
    margin: 0 0 10px 0;
}
.footer__top .instagram li:nth-child(4){
    margin: 0 0 0 0;
}

.col__one__forth{
    width: 270px;
    margin-right: 30px;
}
.col__one__forth:last-child{
    margin-right: 0;
}
.col__one__forth h3{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    line-height: 40px;
}
.col__one__forth:first-child p{
    line-height: 24px;
    margin-bottom: 20px;
}
.footer__top .post__date{
    color: #363636;
    font-size: 12px;
    line-height: 20px;
    display: block;
}

/* Responsive web */
@media screen and (max-width:768px) {

    
    .container{
        padding: 0 1rem;
        }
    .content__title{
        font-size: 1.3rem;
        }
    .mobile .container .content__title, .mobile .container .content__description{
        text-align: center;
    }
    
    .logo__container{
        height: 100px;
    }
    /* header + navbar */
    #header{
        background-color:hsl(0, 0%, 25%);
    }
    .navbar__menu{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        flex-direction: column;
        display:none;
        
        }
    .navbar__toggle__btn{
        display: block;
    }
    .navbar__menu.toggle__menu{
        
        background-color: hsl(0, 0%, 25%);
        display: block;
    }
    .navbar__menu .navbar__menu__list{
        margin: 0;
        width: 100%;
        }

    /* background-contaier */
    
    .bg__contents .bg__title{
        width: 100%;
        font-size: 1rem;
    }
    .bg__contents .bg__subtitle{
        width: 100%;
        font-size: 1.6rem;
    }
    .bg__contents .bg__description{
        margin-bottom: 1rem;
    }
    .bg__contents .btn{
        display: block;
        padding: 0.5rem 0.75rem;
        font-size: 1.125rem;
        width: 80%;
        margin: auto;
        height: auto;
    }
    /* service */
    .services.container{
        padding:1.2rem 1rem;
    }
    .services .skill{
        flex-wrap: wrap;
    }
    .skill .skill__title{
        font-size: 1rem;
    }
    .skill .skill__desc{
        font-size: 0.7rem;
    }
    .under__bar{
        margin-top: 1rem;
    }
    

    .services .skill .skill__list{
        width: 50%;
    }
    .services .skill .skill__list:nth-child(1),
    .services .skill .skill__list:nth-child(2){
        margin-bottom: 1.3rem;
    }
    .projects__container .projects li{
        margin: 0;
    }
    /* text_boxes */
    .text_boxes{
        padding: 2rem 0;
    }
    .text_boxes .container{
        display: block;
        text-align: center;
    }
    .textbox__title{
        font-size: 1.3rem;
    }
    .btn{
        margin: 10px 0;
        padding: 0 8px;
        width: 30%;
        font-size: 0.8rem;
    }
    /* mobile */
    .mobile .container{
        padding: 1rem 1rem;
        display: block;
        text-align: center;
    }
    .mobile .container img{
        width: 100%;
        height: 50vh;
    }
    .mobile .container .mobile__desc{
        width: 100%;
        display: block;
        text-align: center;
    }
    .mobile .container ul{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .mobile .container ul li{
        font-size: 0.8rem;
    }
    /* counters */
    .counters{
        padding: 2rem 0;
    }
    .counters ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .counters ul li{
        width: 100%;
        margin: 0;
    }
    .counters ul li span{
        margin: 6px 0;
    }
    


    /* footer */
    .col__one__forth{

        display: block;
        width: 100%;
        margin-right: 0;
    }
    .footer__top .container{
        display: block;
        text-align: center;
    }
    .footer__top .instagram{
        display: flex;
        justify-content: space-between;
    }
    .footer__top .instagram li{
        margin: 0;
    }
    .footer__top .instagram li:nth-child(2n){
        margin: 0;
    }
}
